#title {
  text-align: center;
	margin: 0px;
}

#container {
  margin: 0 auto;
  width: 680px; 
	height: 325px; }

#page-wrap li {
	display: inline;
	margin-right: 20px;
}

#page-wrap ul {
	padding: 0px;
}

#main {
  width: 650px;
  margin: 0 auto;
	border: 0px;}

#sidebar {
  width: 150px;
  height: 265px;
  float: left; }

#page-wrap {
  width: 450px;
  height: 265px;
  margin-left: 180px; }

.test {
  padding-bottom: 20px; }

h4 {
  margin-top: 0px; }

div {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 10px;}

html, body, {
  margin: 0 auto;
  height: 100%;
}

a:hover {
	font-size: 20px;
}

a {
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}

